<!-- app.component.html -->

<div class="center-container">
  <div class="">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label #nameLabel>Name</mat-label>
        <input
          type="text"
          matInput
          [formControl]="nameFormController"
          placeholder="John"
        />
        <mat-error *ngIf="nameFormController.hasError('required')">
          Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input
          type="email"
          matInput
          [formControl]="emailFormControl"
          placeholder="Ex. pat@example.com"
        />
        <mat-error
          *ngIf="
            emailFormControl.hasError('email') &&
            !emailFormControl.hasError('required')
          "
        >
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input
          type="password"
          matInput
          [formControl]="passwordFormController"
          placeholder="Password"
        />
        <mat-error *ngIf="passwordFormController.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <div class="flex items-center justify-center">
        <button mat-raised-button color="primary">Submit</button>
      </div>
    </form>
  </div>
</div>
